.menu li {
    display: inline;
}

div {
    margin: 5px;
    padding: 5px;
}

.div-main {
    background-color: lightgrey;
}

.div-menu {
    background-color: lightgreen;
}

.div-footer {
    background-color: gray;
}